.container {
  height: 360px;
  border-radius: 8px;
  background-color: white;
}

.active {
  box-shadow: 0 0 0 12px white;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  animation: fadeInAnimation ease 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  margin-top: 12px;
  font-size: 22px;
}