.container {
  display: flex;
  width: 100%;
  user-select: none;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.transition {
  transition: transform 0.25s ease-out;
  transition-delay: 0.2s
}

@keyframes fadeInAnimation {
  0% {
    margin-top: -100vh;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.loading {
  font-size: 96px;
  text-align: center;
  width: 100vw;
  color: white;
}